p { color: red; font-size: 22pt; }
p#gruby_trzaskalski { color: green; font-size: 17pt; font-weight: bold; }
p#dlawszyskich_trzaskalski { color: yellow; font-size: 10pt; font-family: Arial; }
/* Tymon Trzaskalski 27.03.2026 */