p#pogrubienie_trzaskalski { font-size: 50px; color: rgb(150,75,225); }
p#pochylona_trzaskalski { font-size: 55pt; color: rgb(250,200,125); font-style: italic; }
/* resztę 5 ID analogicznie – podam pełne jeśli chcesz */